<%= form_for(datafile) do |f| %>
  <% if datafile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(datafile.errors.count, "error") %> prohibited this datafile from being saved:</h2>

      <ul>
      <% datafile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_field :filename %>
  </div>

  <div class="field">
    <%= f.label :file %><br>
    <%= f.file_field :file %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
