<p id="notice"><%= notice %></p>

<%= link_to 'New Datafile', new_datafile_path %>

<h1>Listing Datafiles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Filename</th>
    </tr>
  </thead>

  <tbody>
    <% @datafiles.each do |datafile| %>
      <tr>
        <td><%= datafile.filename %></td>
        <td><%= link_to 'View records', records_datafile_path(datafile) %></td>
        <td><%= link_to 'Destroy', datafile, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
