<p id="notice"><%= notice %></p>

<p>
  <strong>Campaign name:</strong>
  <%= @record.campaign_name %>
</p>

<p>
  <strong>Impressions:</strong>
  <%= @record.impressions %>
</p>

<p>
  <strong>Clicks:</strong>
  <%= @record.clicks %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @record.cost %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
